/*========================= GOOGLE FONTS =========================*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap");

/*========================= VARIABLES CSS =========================*/
:root {
  /*____________________ Colors ____________________*/
  --clr-dark: #181818;
  --clr-gray: #696969;
  --clr-light: #d4cfc2;
  --clr-theme: #846a53;
  --clr-border: #bababa;
  --clr-hover: orangered;

  /*____________________ Font and typography ____________________*/
  --font-family-title: "Source Serif Pro", serif;
  --font-family-text1: "Courier Prime", monospace;
  --font-family-text2: "Poppins", sans-serif;
  --font-family-barcode: "Libre Barcode 128", cursive;

  /*____________________ Font Size ____________________*/
  --fs-title: 1.75rem;
  --fs-logo: 1.5rem;

  --fs-larger: 2.5rem;
  --fs-large: 2rem;
  --fs-medium: 1.25rem;
  --fs-small: 1rem;
  --fs-smaller: 0.75rem;

  /*____________________ Font Weight ____________________*/
  --fw-thin: 300;
  --fw-medium: 500;
  --fw-semi-bold: 600;

  /*____________________ Margin Bottom ____________________*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*____________________ z index ____________________*/
  --z-behind: -10;
  --z-tooltip: 10;
  --z-fixed: 20;
  --z-modal: 30;
}

/*____________________ Variables Dark theme ____________________*/

/*____________________ Button ____________________*/
.button {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-light);
  font-weight: var(--fw-medium);
  color: var(--clr-light);
  font-size: var(--fs-small);
}
.button:hover {
  color: red;
  background-color: white;
}
/*========================= BASE =========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: var(--fs-medium);
  font-family: var(--font-family-text1);
  color: var(--clr-light);
  background-color: var(--clr-dark);
  /* color: var(--clr-dark);
  background-color: var(--clr-light); */
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--clr-light);
}
img {
  max-width: 100%;
  height: auto;
}

/*========================= NAVIGATION BAR =========================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
nav {
  height: 5rem;
  width: 100%;
  display: flex;
  z-index: 10;
}

/*Styling logo*/
.nav__logo {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  margin-left: 1.5rem;
}
.nav__hamburger {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
  transition: all 0.7s ease;
}
/*Styling Hamburger Icon*/
.nav__hamburger div {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: all 0.3s ease;
}
/*Styling Links*/
.nav__links {
  height: 100vh;
  width: 100%;
  font-size: 1.75rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background: var(--clr-dark);
  clip-path: circle(50px at 90% -20%);
  -webkit-clip-path: circle(50px at 90% -10%);
  transition: all 0.8s ease-out;
  pointer-events: none;
  position: fixed;
}

.nav__links li a:hover {
  color: var(--clr-theme);
}
.nav__links li {
  position: relative;
}
.nav__links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 25%;
  background-color: #d4cfc2;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin-top: 30px;
}
.nav__links li a:hover::before {
  width: 100%;
}

.nav__links.open {
  clip-path: circle(1500px at 90% -10%);
  -webkit-clip-path: circle(1500px at 90% -10%);
  pointer-events: all;
}
.nav__links li {
  opacity: 0;
}
.nav__links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
.nav__links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}
.nav__links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}
.nav__links li:nth-child(4) {
  transition: all 0.5s ease 0.7s;
}

li.fade {
  opacity: 1;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.1s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*========================= HOME SECTION =========================*/
main {
  margin-top: 7rem;
  width: 100%;
}
/*____________________ home__main ____________________*/
.home__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  margin-bottom: 5rem;
  color: var(--clr-gray);
}
.home__adj {
  color: var(--clr-gray);
  margin: 1.5rem 0;
}
.home__socialMedia-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__social-icon {
  font-size: 1.25rem;
  color: aquamarine;
  transition-property: color;
  transition-duration: 950ms;
  margin: 2.75rem 1rem;
}
.home__social-icon:hover {
  color: var(--clr-hover);
}

.home__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(139, 134, 134, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.home__profile-img {
  width: 80%;
  overflow: hidden;
  animation: morph 3s linear infinite;
}
@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 20%;
  }
  37% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 50%;
  }
  57% {
    border-radius: 80% 40% 60% 100% / 50% 70% 30% 80%;
  }
  87% {
    border-radius: 100% 60% 70% 100% / 100% 100% 60% 40%;
  }
}
.text__tab {
  font-size: 1.25rem;
  margin-left: 40px;
}

.home__barcode {
  font-family: var(--font-family-barcode);
  font-size: 3rem;
  transition: 750ms;
  margin: 2rem 0 0 0;
  /* text-align: end; */
}

.gooey {
  background-image: linear-gradient(120deg, orangered 0%, #ff1e00 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  animation: morph1 3s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}
.gooey:before,
.gooey:after {
  content: "";
  width: 100%;
  height: 80%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  box-shadow: 5px 5px 89px rgba(255, 208, 0, 0.21);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.55) 0%,
    rgba(238, 158, 9, 0.89) 100%
  );
  z-index: -1;
}

.gooey:before {
  animation: morph1 3s linear infinite;
  opacity: 0.21;
  animation-duration: 1.5s;
}

.gooey:after {
  animation: morph1 3s linear infinite;
  animation-delay: 400ms;
  opacity: 0.89;
  content: "";
  line-height: 120px;
  text-indent: -21px;
}

@keyframes morph1 {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    opacity: 0.89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn {
  100% {
    transform: scale(1.03);
    opacity: 0;
  }
}

/*____________________ special ____________________*/
.special__container {
  width: 70vw;
  height: 85vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  border-radius: 12px;
  background-image: url("https://images.pexels.com/photos/2569471/pexels-photo-2569471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  animation: animated-gradient 20s ease-in-out infinite;
}
@keyframes animated-gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.special__case {
  border-radius: 12px;
  transition: background-color 550ms ease-in;
  background-color: var(--clr-light);
}
.special__case:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.special__info {
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.special__text h2,
.special__text p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
    -o-transform 0.35s, transform 0.35s;
}
.special__info h2 {
  word-spacing: -0.25rem;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.special__text h2 span {
  font-weight: 600;
}
.special__text p {
  font-size: var(--fs-small);
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
}

.special__case:hover .special__text h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.special__case:hover .special__text p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.special__link {
  font-weight: 500;
}
.special__link a {
  color: var(--clr-dark);
}
.special__link a:hover {
  color: var(--clr-hover);
  border-radius: 1px solid var(--clr-theme);
}

/* .random__text {
  width: 70vw;
  cursor: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/1e/36/5f/1e365f856b22e76d26ff1736a269a2fc.png");
} */

.example {
  width: 70vw;
  cursor: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/5550454/pexels-photo-5550454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.invisible__word {
  color: var(--clr-light);
  font-size: 5.5rem;
}

.cursor {
  width: 100px;
  height: 100px;
  border: 4px solid rgb(255, 115, 0);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  border: 8px solid orangered;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid red;
}
